

 <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Join the best dating app</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Get started for FREE</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, laudantium. Magni sit cupiditate, incidunt quisquam repellendus perspiciatis dolorum minima eligendi sunt doloremque commodi omnis quis, optio rerum architecto, velit vitae.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Sign up Today</h4>
        </div>
        <div class="card-body">

          <p>Click below to get started.</p>
          <%= link_to "Sign up now", new_account_registration_path, class: "btn btn-lg btn-block btn-primary" %>
        </div>
      </div>
    </div>
</div>
